.authForm {
	width: fit-content;
	margin: 50px auto;

	.label {
		display: block;
		padding-bottom: 5px;
	}

	.formInput {
		margin-bottom: 10px;
		padding: 0 10px;
	}

	.submitButton {
		display: block;
		margin: 0 auto;
		padding: 5px;
		background-color: transparent;
		border: 1px solid gray;
		cursor: pointer;
	
		&:hover {
			background-color: gray;
			color: white;
		}
	}

	.error {
		margin-top: 10px;
		padding: 5px;
		background-color: salmon;
		text-align: center;
	}
}
