.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 100px;
	border-bottom: 1px solid gray;

	.link {
		text-decoration: none;
		color: inherit;

		&:nth-child(1) {
			margin-right: 10px;
		}
	}

	.userBlock {
		display: flex;

		.username {
			padding: 5px;
		}

		.logoutButton {
			margin-left: 10px;
			padding: 5px;
			background-color: transparent;
			border: 1px solid gray;
			cursor: pointer;

			&:hover {
				background-color: gray;
				color: white;
			}
		}
	}
}
